html, body {
    background: white;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif !important;
}

#main {
    background: #009688;
    width: 500px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #BEBEBE;
}

#logo {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    cursor: pointer;
}

#message {
    text-align: center;
    font-size: 25px;
    color: white;
    position: relative;
    top: 60px;
}

#login-form {
    position: relative;
    top: 60px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 300px;
    height: 300px;
    color: white;
    font-size: 18px;
}

.login-head {
    margin-top: 20px;
}

#login-form input {
    color: black;
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.halfInput {
    width: 47% !important;
    margin-right: 6%;
}

.halfInput2 {
    width: 47% !important;
}

.short {
    width: 50px !important;
    margin-right: 10px;
    text-align: center;
}

.short2 {
    width: 50px !important;
    margin-left: 10px;
    text-align: center;
}

.upload {
    color: white !important;
    font-size: 15px !important;
    line-height: 0px;
}

.multi-line {
    color: black;
    width: 100%;
    resize: none;
}

#login-form a {
    color: #BEBEBE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#login-form a:hover {
    text-decoration: underline;
}

#submit-button {
    text-align: center;
    border: 2px solid white;
    padding-left: 50px;
    padding-right: 50px;
    background: transparent;
    color: white !important;
    height: 40px !important;
    margin-top: 30px;
    border-radius: 5px;
    display: none;
}

#submit-button:hover {
    background: white;
    color: #009688 !important;
}

#nav-buttons {
    margin-top: 50px;
}

.nav-button {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    transition: background 0.3s ease;
}

.nav-button:hover {
    cursor: pointer;
    background: white;
    color: #009688;
}

.disabled {
    color: #BEBEBE;
    border-color: #BEBEBE;
}

.disabled:hover {
    color: #BEBEBE;
    border-color: #BEBEBE;
    cursor: default;
    background: transparent;
}

#next {
    position: relative;
    left: 120px;
}

#step1 {
    display: block;
}

#step2 {
    display: none;
}

#step3 {
    display: none;
}

#step4 {
    display: none;
}
